<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    Menu:
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/time">Time</a></li>
        <li><a href="/calc">Calc</a></li>
        <li><a href="/expression">Expression</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/clear">Clear</a></li>
    </ol>

    Calculator:
    <ul>
        <li>First digit: {{ a }}</li>
        <li>Second digit: {{ b }}</li>
        <li>SUM: {{ sum }}</li>
    </ul>

    <h1>{{ a }} + {{ b }} = <mark>{{ sum }}</mark></h1>
</body>
</html>