<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    Menu:
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/time">Time</a></li>
        <li><a href="/calc">Calc</a></li>
        <li><a href="/expression">Expression</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/delete">Delete last</a></li>
        <li><a href="/clear">Clear</a></li>
        <li><a href="/new">New</a></li>
    </ol>

    <form method="post" action="{% url 'new' %}">
        {% csrf_token %}
        {% for field in comment_form %}
            <div>
                {{ field.label }}
            </div>
            <div>
                {{ field }}
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>