<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    Menu:
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/time">Time</a></li>
        <li><a href="/calc">Calc</a></li>
        <li><a href="/expression">Expression</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/clear">Clear</a></li>
    </ol>

    Current time:
    <ul>
        <li>Current date: {{ current_date }}</li>
        <li>Current time: {{ current_time }}</li>
    </ul>

</body>
</html>